@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    font-family: 'Kanit', sans-serif;
    
}


.carousel-inner{
    height: 100%;
    object-fit: cover;
}

.swal-text {
    font-size: 36px; /* Adjust the font size as needed */
}

@media (max-width: 1000px) {
    .nav {
      flex-direction: column;
      
      /* Stack items vertically for small screens */
    }

    .nav-item {
      margin: 10px 0;
       /* Add spacing between list items */
    }
   /* ลิงก์ในแถบการนำทาง */
  
    
  }

 
